<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:type="'Chinh sua thanh pho' + ${city.name}"></h1>
<form th:object="${city}" method="post">
    <table>
        <tr>
            <td>Ten: <input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Quoc gia:
                <select th:field="*{country}">
                    <option th:each="country: ${countries}" th:value="${country.countryID}"
                            th:text="${country.countryName}"></option>

                </select>
            </td>
        </tr>
<tr>
    <td><input type="submit" value="Edit"></td>
</tr>
    </table>
</form>
</body>
</html>